* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
    
  body {
    background-color: #2A2E53;
  }
  
    /* HEADER */

    header {
      display: flex;
      font-family: 'Poppins', sans-serif;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      background-color: #575B7E;
      color: white;
      max-height: 80px;
    }
    
    h1 {
      font-size: 20px;
      cursor: pointer;
      font-weight: 50;
      color: white;
    }
  
    a.logo {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      cursor: pointer;
      color: white;
      text-decoration: none;
    }
    
    .nav-links a,
    .cta,
    .overlay-content a {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: white;
      text-decoration: none;
    }
    
    .nav-links {
      font-family: 'Poppins', sans-serif;
      list-style: none;
      display: flex;
      align-items: baseline;
    }
    
    .nav-links li {
      padding: 0px 20px;
    }
    
    .nav-links li a {
      transition: color 0.3s ease 0s;
    }
    
    .nav-links li a:hover {
      color: #8C8FB0;
    }
    
    .cta {
      padding: 9px 25px;
      background-color: #D9D9D9;
      color: black;
      border: none;
      border-radius: 40px;
      cursor: pointer;
      transition: background-color 0.3s ease 0s;
      
    }
    
    .cta:hover {
      background-color: #8C8FB0;
      color: black;
    }
  
    .btn {
      text-decoration: none;
    }
  
  @media screen and (max-width: 1341px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #575B7E;
      padding: 10px;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .nav-links li {
      padding: 10px;
    }
  
    .menu-btn {
      display: block;
    }
  }
  
  @media screen and (min-width: 1341px) {
    .menu-btn {
      display: none;
    }
  }
    /* HEADER END*/


    .choose {
      display: flex;
      align-items: center;
      padding: 10px 0; 
      max-width: 1230px;
      margin: 0 auto;
      padding: 0 15px;
      color: #fff;
    }

    h3 {
      font-size: 28px;
      margin-left: 0px;
      padding: 50px 0px 50px 0px;
    }

    @media screen and (min-width: 1341px) {
      h3 {
        font-size: 40px;
        margin-left: -15px;
      }
    }
    

     /* UNIT AREA */

     .unit-area {
        width: 1400px;
        background-color: white;
        margin: 0 auto;
        padding: 15px 0px 15px 0px;
        min-height: 1000px;
        display: flex;
        flex-direction: column;
     }

     p {
        font-size: 20px;
        padding-bottom: 10px;
        font-weight: bold;
        text-align: center;
     }

     hr {
        width: 100%;
        flex-shrink: 0;
        height: 4px;
        background-color: #575B7E;
        border: none;
     }

     h5, h4 {
        padding-left: 100px;
        padding-top: 10px;
        font-size: 20px;
     }

     h2 {
        color: #000;
        font-family: Poppins;
        font-style: normal;
        font-weight: 7000;
        font-size: 28px;
        padding-left: 100px;
        padding-top: 10px;
     }

     h4 {
        text-decoration: underline;
        padding-left: 130px;
   
     }

     h6 {
        padding-left: 130px;
        font-size: 20px;
     }

     iframe {
        padding-top: 10px;
        align-self: center;
     }

     audio {
        width: 400px;
        align-self: center;
        padding-top: 10px;
     }

     .letters-box {
        display: flex;
        align-self: center;
        padding-top: 10px;
        padding-bottom: 20px;
     }

     .left-box {
        display: 1;
        padding-right: 100px;
     }

     .right-box {
        display: 2;
        padding-left: 100px;
     }

     form {
        padding-top: 10px;
        font-size: 20px;
     }

     .cta2 {
        padding: 9px 25px;
        background-color: #8C8FB0;
        color: black;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
        max-width: 230px;
        height: 50px;
        text-align: center;
        color:#fff;
        font-size: 1.3em;
        margin: auto;
      }
  
      .cta2:hover {
        background-color: #2A2E53;
      }

      .cta3 {
        background-color: #8C8FB0;
        color: black;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
        max-width: 150px;
        height: 30px;
        text-align: center;
        color:#fff;
        font-size: 1em;
        margin: auto;
      }

      .cta3:hover {
        background-color: #2A2E53;
      }
  

      @media only screen and (max-width: 1341px) {
        .unit-area {
            width: 100%;
        }

        .left-box,
        .right-box {
            padding: 0;
        }

        h, h2, h4 {
            padding-left: 10px;
        }

        h2{
            font-size: 20px;
        }

        iframe {
            width: 100%;
        }

        audio {
            width: 100%;
        }
    }

    #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      align-self: center;
    }
    
    #myImg:hover {opacity: 0.7;}
    

    .modal {
      display: none; 
      position: fixed;
      z-index: 1; 
      padding-top: 100px; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.9); 
    }
 
    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }
    
    
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }
    

    .modal-content, #caption {  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }
    
 
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }

      body {
        background-color: #fff;
      }
    }


    .bar {
        align-self: center;
        max-height: 150px;
    }



    /* UNIT AREA END  */



